* {
    background-color: #c4a484;
}

h1 {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

